
.world-container {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

.cycle-ui {
	padding-top: 32px;
}

.synapse-ui {
	padding-top: 32px;
}

/* Button */

.btn {
	position: relative;
}

.btn-enabled {
	top: 0px;
	left: 0px;
	color: #585;
	background-color: #9c9/*#c3e6cb*/;
	border-color: #9c9;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}

.btn-enabled:hover, 
.btn-enabled:focus {
	top: 2px;
	left: 2px;
	color: #dfd;
	background-color: #7a7;
	border-color: #7a7;
	box-shadow: unset;
}

.btn-disabled {
	top: 2px;
	left: 2px;
	color: #ccc;
	background-color: #e2e3e5;
	border-color: transparent;
}

.btn-disabled:hover,
.btn-disabled:focus {
	color: #ccc;
	cursor: default;
}

/* Tooltip */

.tip span.title {
    display: none;
}
.tip:hover span.title {
	display: block;
	position: absolute;
	top: -36px;
	left: 0px;
	padding: 3px 10px;
	background-color: #f0f0f0;
	border: #c0c0c0 1px dotted;
	color: #888;
	opacity: 0.5;
}

.potential-details{
	
}